# Database
DB_USER=postgres
DB_NAME=chessguard

# PGAdmin
PGADMIN_EMAIL=admin@example.com

# Portainer
PORTAINER_USER=admin

# gérés par les secrets
# DB_PASSWORD=postgres
# PORTAINER_PASSWORD=admin
# PGADMIN_PASSWORD=admin